*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    min-height: 100%;
    width: 100%;
}
.main-container{
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: rgb(233, 211, 211)
    
}
/* logo start */
#logo{
    text-decoration: none;
    font-size: 30px;
    font-style: italic;
    margin: 0% 35% 0% 0%;
    padding: 2% 0%;
    color: white;
}
/* logo end */

/* card-body start of gallery */
.card-body{
    min-height: 100%;
}
/* card-body start of gallery */
/* navbar start */
ul{
    list-style-type: disc;
    margin: 0;
    padding: 4%;
    background-color: blue;
}
li{
    display: inline;
}
li a{
    display: block;
    color: black;
    background-color: aqua;
    text-decoration: none;
    text-align: center;
    border: 1px solid;
    margin: 1%;
    display:inline;
    padding: 20px 40px;
    border-radius: 35%;
}
li a:hover{
    background-color: rgb(48, 155, 21);
    color: white;
}
li a.active{
    background-color: rgb(44, 231, 44);
    color: white;
}
/* navbar end */

/* carosuel start  */
.carosuel{
    margin: 20%;

}
/* carosuel start  */